@font-face {
  font-weight: 400;
  font-family: $roboto-slab;
  font-style: normal;
  src:
    url("../fonts/RobotoSlab-Regular.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: $raleway;
  font-style: normal;
  src:
    url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: $raleway;
  font-style: normal;
  src:
    url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
}
