* {
  box-sizing: border-box;
}

body {
  width: auto;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  @include font (14px, 24px, 400, 0.7px);
}

.wrapper {
  @include container;
  position: relative;
}

.button {
  display: block;
  width: 202px;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 47px;
  text-decoration: none;
  text-align: center;
  background-color: $turquoise;
  color: $white;
}
