* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: $raleway;
  @include font (14px, 1.714285714285714, 400, 0.7px);
  color: $charcoal;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 202px;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 47px;
  text-decoration: none;
  text-align: center;
  background-color: $turquoise;
  color: $white;
}
