@mixin container () {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 620px;

  @media #{$tablet-widths} {
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
  }

  @media #{$desktop-widths} {
    max-width: 1140px;
  }
}

@mixin font ($font-size, $line-height, $font-weight , $letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}
