@mixin container () {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 767px;

  @media #{$tablet-widths} {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 768px;
  }

  @media #{$desktop-widths} {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1280px;
  }
}

@mixin font ($font-size, $line-height, $font-weight , $letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}
