$mobile-widths-only: "(min-width: 20px) and (max-width: 659px)";
$tablet-widths: "(min-width: 660px)";
$tablet-widths-only: "(min-width: 660px) and (max-width: 959px)";
$desktop-widths: "(min-width: 960px)";

$black: rgba(0, 0, 0, 1);
$black-30: rgba(0, 0, 0, 0.3);
$white: rgba(255, 255, 255, 1);
$white-30:rgba(255, 255, 255, 0.3);
