.header {
  background-image: url('../img/header-bg--mobile.jpg');
  background-repeat: no-repeat;
  background-position: center top;

  @media #{$tablet-widths} {
    background-image: url('../img/header-bg--tablet.jpg');
  }

  @media #{$desktop-widths} {
    background-image: url('../img/header-bg--desktop.jpg');
  }

  & .wrapper {
    padding-top: 34px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 239px;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../img/svg-sprite/header-figure.svg');
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__burger {
    display: block;
    width: 22px;
    height: 2px;
    background-color: $charcoal;
    border: 0;
  }

  &__nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    background-color: $charcoal;

    @media #{$tablet-widths} {
      top: 65px;
      width: 420px;
      height: 413px;
      padding: 50px 40px;
    }
  }

  & .nav__link {
    @include font (18px, 48px, 400, 0.9px);
    color: $white;
  }

  &__nav--show {
    display: block;
  }

  &__settings {
    display: none;
  }

  &__contact {
    display: none;
  }

  &__intro {
    padding-top: 26px;
    padding-bottom: 208px;
    padding-left: 22px;
    padding-right: 22px;
  }

  &__logo {
    width: 70px;
    margin: 0 auto;
  }

  &__title {
    font-family: $roboto-slab;
    @include font (20px, 48px, 400, 1px);
    text-align: center;
    margin-bottom: 40px;

    & span {
      @include font (50px, 50px, 400, -1.25px);
      text-transform: uppercase;
    }
  }
}
